@*use this for the fake AjaxOptions since ajax helpers were dropped in .net core*@
@model IPagedList<Phongban>
@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;

@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList;
@using X.PagedList.Web.Common
<div id="list" class="content-wrapper">
    <p>
        <a class="btn btn-info"  onclick="showmodal()" id="btCreateN">Create New</a>
    </p>
    <table class="table table table-striped table-bordered text-left w-100">
        <thead class="bg-dark text-white">
            <tr>
                <th>
                    Mã phòng ban
                </th>
                <th>
                    Tên phòng ban
                </th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var pb in ViewBag.Names as IEnumerable<Phongban>)
            {
<tr>
    <td>@pb.Id</td>
    <td>@pb.Name</td>
    <td><a class="btn btn-secondary btn-lg active"  onclick="Edit(@pb.Id)">Edit</a> | <a class="btn btn-secondary btn-lg active" onclick="_delete(@pb.Id)">Delete</a></td>
</tr>
       }
        </tbody>
    </table>
    <div class="text-center">
      
                        @{ 
                            var pageRender = new PagedListRenderOptions
                                {
                                    MaximumPageNumbersToDisplay = 5,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayPageCountAndCurrentLocation = false,
                                    UlElementClasses = new[] { "pagination" },

                                 
                                    ContainerDivClasses = new[] { "pagination-container" }
                            
                                }; 
                         } 
             
        @Html.PagedListPager((IPagedList<Phongban>)ViewBag.Names, page => Url.Action("PageList", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageRender, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
    </div>
   



</div>



